language: python
python:
  - 3.6
branches:
  only:
    - master
before_install:
  - openssl aes-256-cbc -K $encrypted_223a70cebde4_key -iv $encrypted_223a70cebde4_iv -in publish-key.enc -out ~/.ssh/publish-key -d
  - chmod u=rw,og= ~/.ssh/publish-key
  - echo "Host github.com" >> ~/.ssh/config
  - echo "  IdentityFile ~/.ssh/publish-key" >> ~/.ssh/config
  - git remote set-url origin git@github.com:pythonbrasil/pythonbrasilblog.git
  - git fetch origin -f gh-pages:gh-pages
install:
  - pip install pelican
  - pip install ghp-import
script: make github
