/* common */
body {
  color: #111;
  font-family: 'Roboto', sans-serif;
  margin: 35px;
}

a { color: #111; }
a:hover { color: #0074D9; }

header {
  font-size: 18px;
  margin-bottom: 40px;
}
header .blog {
  color: #0074D9;
  font-size: 50px;
}
header .blog strong { font-weight: 400; }
header .blog span { color: #FFDC00; }
header p {
  font-size: 24px;
  margin: 0;
}

time {
  color: #aaa;
  font-size: 1.5rem;
}

ul { font-size: 18px; }
ul li {
  list-style: none;
  margin-bottom: 0;
}
ul li a,
.license a { color: #0074D9; }
ul li a:hover,
.license a:hover { color: #001f3f; }

/* home */
.archive h2 { margin: 0; }
.archive hr { margin: 20px 0; }

/* article */
.article h2 { margin: 0 0 25px 0; }
.article h4 { margin-bottom: 25px; }
.article h4 p { margin-bottom: 0; }
.article time { color: #aaa; }
.article #disqus_thread { margin-top: 25px; }
