/* common */
body {
  color: #111;
  font-family: 'Roboto', sans-serif;
}

a { color: #111; }
a:hover { color: #0074D9; }

header {
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  font-size: 3.6rem;
}

h2 {
  font-size: 2.6rem;
}

header .blog {
  color: #0074D9;
}

header .blog strong { font-weight: 400; }
header .blog span { color: #FFDC00; }
header p {
  margin: 0;
}

time {
  color: #aaa;
  font-size: 1.5rem;
}

ul li {
  list-style: none;
  margin-bottom: 0;
}
ul li a,
.license a { color: #0074D9; }
ul li a:hover,
.license a:hover { color: #001f3f; }

/* home */
.archive h2 { margin: 0; }
.archive hr { margin: 20px 0; }

/* article */
.article h2 { margin: 0 0 25px 0; }
.article h4 { margin-bottom: 25px; }
.article h4 p { margin-bottom: 0; }
.article time { color: #aaa; }
.article #disqus_thread { margin-top: 25px; }

@media (min-width: 40.0rem) {
  body {
    margin: 35px;
  }

  h1 {
    text-align: left;
    font-size: 4.6rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  .row .column.column-main {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .row .column.column-links {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
